POSTGRES_USER=postgres
POSTGRES_PASSWORD=<POSTGRES_PASSWORD>
TAILSCALE_IP=<VPS_TAILSCALE_IP>
GRAFANA_ADMIN_PASSWORD=<GRAFANA_ADMIN_PASSWORD>
BREVO_SMTP_USER=<BREVO_SMTP_LOGIN>
BREVO_SMTP_PASSWORD=<BREVO_SMTP_KEY>
GRAFANA_RENDERER_TOKEN=<GRAFANA_RENDERER_SHARED_TOKEN>
