DB_HOST=localhost
DB_PORT=5432
DB_NAME=smakosz_db
DB_USER=postgres
DB_PASSWORD=

IMAGE_OUTPUT_DIR=E:/smakosz/images

LOCAL_PHOTO_INDEX=data/photo_index.json

PIXABAY_API_KEY=

UNSPLASH_ACCESS_KEY=

R2_ENDPOINT_URL=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=smakosz-photos

R2_PUBLIC_DOMAIN=
