{
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Port=5432;Database=<E2E_DB_NAME>;Username=<DB_USER>;Password=<DB_PASSWORD>"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Warning",
      "Microsoft.AspNetCore": "Warning"
    }
  }
}
