[Unit]
Description=RPi Wake-on-LAN Gateway
After=network-online.target

[Service]
Type=simple
User=smakosz-rpi-gateway
Group=smakosz-rpi-gateway
WorkingDirectory=/home/smakosz-rpi-gateway
EnvironmentFile=/home/smakosz-rpi-gateway/.env
ExecStart=/home/smakosz-rpi-gateway/venv/bin/python /home/smakosz-rpi-gateway/app.py
Restart=on-failure
RestartSec=5
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
